{{define "title"}}Projects{{end}}

{{define "body"}}
<style>
</style>

<div class="card">
    <a href="https://sas-virtual-group.web.app/">
        <img src="SASV.png">
        <div class="card-name">SAS Virtual Group</div>
    </a>
    <p>
        SAS Virtual Group is a virtual airline, which means they use flight simulation software to as accurately as possible
        simulate real world airlines. SAS Virtual Group in particular only flies the same routes and aircrafts as
        the real-life airline SAS. This website helps them submit reports of their flights, track how much they
        fly, view the available routes, view announcements from the virutal airline's staff, and more, all in one place.
    </p>
</div>
<div class="card">
    <a href="https://echeveria-runyonii.web.app/">
        <img src="runyonii.png">
        <div class="card-name">Runyonii</div>
    </a>
    <p>
        Runyonii is a web app where you can chat with a friend or groups of them. It features offline persistence,
        which means it caches it's contents so that it can be accessed without the internet. It can send
        notifications when you recieve messages. Runyonii will soon be deprecated and replaced by Echeveria, which does
        not use firebase, unlike Runyonii.
    </p>
</div>
<div class="card">
    <a href="https://github.com/ebinbellini/mwit">
        <img src="mwit.png">
        <div class="card-name">Maximalist Windows Icon Theme (MWIT)</div>
    </a>
    <p>
        An icon pack for Windows that I designed using Microsoft Paint. It features 53 stylish and distinguished icons
        for popular programs such as Visual Studio, Microsoft Teams, Steam, Epic Games, and more. If you think a program
        is missing, tell me and I'll design an icon.
    </p>
</div>
{{end}}