{{define "title"}}Projects{{end}}

{{define "body"}}
<!-- TODO Search bar maybe -->
<div class="project">
	<a href="https://sas-virtual-group.web.app/">
		<img src="SASV.svg">
		<div class="project-name">SAS Virtual Group</div>
	</a>
	<p>
		SAS Virtual Group is a virtual airline. They use flight simulation software to as accurately as possible
		simulate real world airlines. SAS Virtual Group in particular only flies the same routes and aircrafts as
		the airline SAS. This website helps them track submit reports of their flights, track how much they fly,
		view the available routes, view announcements from the virutal airline's staff, and more.
	</p>
</div>
<div class="project">
	<a href="https://echeveria-runyonii.web.app/">
		<img src="runyonii.svg">
		<div class="project-name">Runyonii</div>
	</a>
	<p>
		Runyonii is a web app where you can chat with a friend or groups of them. It features offline persistence,
		which means it caches it's contents so that it can be accessed without the internet. It can send
		notifications when you recieve messages, although it doesn't always work. An ingress-like game is planned,
		where you can plant flowers on a map and water your friends flowers.
	</p>
</div>
{{end}}