{{define "title"}}Projects{{end}}

{{define "body"}}
<style>
</style>

<div class="card">
    <a href="https://sas-virtual-group.web.app/">
        <img src="SASV.png">
        <div class="card-name">SAS Virtual Group</div>
    </a>
    <p>
        SAS Virtual Group is a virtual airline, which means they use flight simulation software to as accurately as
        possible
        simulate real world airlines. SAS Virtual Group in particular only flies the same routes and aircrafts as
        the real-life airline SAS. This website helps them submit reports of their flights, track how much they
        fly, view the available routes, view announcements from the virutal airline's staff, and more, all in one place.
    </p>
</div>
<div class="card">
    <a href="https://echeveria-runyonii.web.app/">
        <img src="runyonii.png">
        <div class="card-name">Runyonii</div>
    </a>
    <p>
        Runyonii is a web app where you can chat with a friend or groups of them. It features offline persistence,
        which means it caches it's contents so that it can be accessed without the internet. It can send
        notifications when you recieve messages. Runyonii will soon be deprecated and replaced by Echeveria, which does
        not use firebase, unlike Runyonii.
    </p>
</div>
<div class="card">
    <a href="https://weather.ebinbellini.top">
        <img src="ebinweathermonitor.png">
        <div class="card-name">Ebin Weather Monitor</div>
    </a>
    <p>
        This a simple program that allows you to view the weather at many different airports around Sweden. It pulls
        METAR data from the internet and converts it to a human readable format with icons for easier scanning. You can
        view the weather directly in your browser or you can download applications for Linux/X11, Windows, and Android.
    </p>
</div>
{{end}}