{{define "title"}}Knåker{{end}}

{{define "body"}}
<style>
	body {
		overflow-x: hidden;
	}

	#grid {
		margin-top: 48px;
		display: flex;
		flex-flow: row wrap;
	}

	.doc {
		margin: 16px;
		flex: 1;
    	text-align: center;
		min-width: 230px;
		transition: 200ms;
	}

	.doc p {
		text-align: left;
	}

	.doc h3 {
		transition: 200ms;
		text-align: left;
		position: relative;
		font-size: 28px;
		width: fit-content;
	}

	.doc h3::after {
		content: "";
		position: absolute;
		width: 0px;
		bottom: 0;
		left: 0;
		height: 2px;
		background: #a8170d;
		transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.doc:hover h3::after {
		width: 100%;
	}

	.doc img {
		height: 200px;
	}
</style>

<div class="center-content" style="margin-bottom: 24px">
	<h4><img src="/Icons/warning.svg" style="position: relative; top: 2px"> Only available in Swedish</h3>
</div>
<p>
	Knåker är ett kortspel som bygger på det välkända kortspelet vändtia men skillnaderna mellan dem båda är enorma.
	Reglerna är uppdelade i två delar: Knåker Basregler som innehåller grundreglerna, och expansionen Knåkerexpansion
	Månfaser som innehåller regler vilka beror på rådande måntillstånd. Här kan du köpa dessa regler i form av
	PDF-dokument, för privat bruk. Kvitto ingår.
	Mejla till <a href="mailto:ebinbellini@airmail.cc">ebinbellini@airmail.cc</a> om du är intresserad.
</p>
<div id="grid">
	<a class="doc" href="basregler.pdf">
		<img src="bas.png">
		<h3>Knåker basregler</h3>
		<p>
			Noggrant genomtänkta grundregler speciellt designade för att göra kortspelet så actionfyllt och
			underhållande som möjligt.
			Klicka här för att komma till den senaste PDF:en.
		</p>
		<h4>Gratis</h4>
	</a>
	<a class="doc" href="mailto:ebinbellini@airmail.cc">
		<img src="månfaser.png">
		<h3>Expansion: månfaser</h3>
		<p>
			Extraordinärt välskrivna regler vars effekt beror på vilken dag du spelar. Detta inför ännu mer
			dynamik i ett spel där det redan händer en hel del.
		</p>
		<h4>25 kr</h4>
	</a>
</div>
{{end}}