{{define "title"}}Halloween Spooky competition{{end}}

{{define "body"}}

<div class="center-content">
	Duckburg dep. of Space Defense is mine and Samuöls team
	<br>
	<iframe src="https://challonge.com/ja/spook2020/module" width="100%" height="500" frameborder="0" scrolling="auto"
		allowtransparency="true"></iframe>
	We did not win...

	<br>
	<br>
	Here you can see a video of the matches
	<iframe width="560" height="315" src="https://www.youtube.com/embed/RwyLCdwdRq8" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
</div>
{{end}}