{{define "title"}}Search{{end}}

{{define "body"}}
<style>
    form {
        text-align: center;
    }
    
    input {
        padding: 8px 12px;
        margin: 8px;
        border: 0;
        border-radius: 4px;
        outline: 0;
        font-size: 20px;
        background: #353535;
        color: #fafafa;
        transition: 250ms;
        cursor: pointer;
    }

    input:hover {
        background: #fafafa;
        box-shadow: 0 0 12px #fafafaea;
        color: #242424;
    }

    input[type="text"] {
        cursor: vertical-text;
        width: 350px;
        max-width: 90%;
        background: #fafafa;
        color: #242424;
        border: 2px solid #242424;
        font-family: serif;
    }
</style>

<form action="/query">
    <input name="s" type="text">
    <input type="submit">
</form>
{{end}}