{{define "title"}}Design{{end}}

{{define "body"}}
<div class="card">
	<div class="card-name">Knåker car poster</div>
    <div class="card-year">2024</div>
	<img src="knakerbilenaffisch.png">
</div>
<div class="card">
	<div class="card-name">Knåker poster</div>
    <div class="card-year">2023</div>
	<img src="knakerposter.png">
</div>
<div class="card">
	<div class="card-name">Knåker patches</div>
    <div class="card-year">2022</div>
	<img src="knaker_konsepte.png">
	<p>
		My friends wanted an embroidered patch and wanted me to design it. I had
		so much fun making them and had an excess of ideas so I ended up with a
		bunch of different designs. Here are most of them.
	</p>
</div>
<div class="card">
	<div class="card-name">BSD-rice</div>
    <div class="card-year">2020</div>
	<img src="rice.jpg">
	<p>
		Here is a screenshot from a previous rice I made on the computer this
		website is hosted on. I am now trying Linux instead and haven't gotten
		very far into ricing my system.
	</p>
</div>
<div class="card">
	<a href="https://store.ebinbellini.com/items/knåker%20kortlek/">
		<div class="card-name">Knåker Cards</div>
    	<div class="card-year">2020</div>
		<img src="klassfoto.png">
	</a>
	<p>
		This is a deck of cards that I and Samuel designed for my upcoming game
		Knåker Online, where you can play <a href="/knaker/">Knåker</a>, but
		online! The first picture is of a few different cards. The second
		picture is of the two current back designs. Decks of these cards will be
		purchaseable whenever I manage to fix my printer, so look forward to
		that!
	</p>
</div>
<div class="card">
	<div class="card-name">Attefall temple</div>
    <div class="card-year">2020</div>
	<img src="temple.png">
	<p>
		A small temple I designed to fit into the limitations of a swedish
		"Attefallshus" that can be built without a building permit. Those limits
		were 25 square meters in area and 4 meters in height when this was
		designed, but the permitted area was recently increased to 30 square
		meters. It is an unbuilt project, as it would cost approximately 104
		million SEK for the materials alone.
	</p>
</div>
{{end}}

