{{define "title"}}Design{{end}}

{{define "body"}}
<div class="card">
	<img src="rice.jpg">
	<div class="card-name">BSD-rice</div>
	<p>
		Here is a screenshot from a previous rice I made on the computer this website is hosted on. I am now trying
		Linux instead and haven't gotten very far into ricing my system.
	</p>
</div>
<div class="card">
	<a href="https://github.com/ebinbellini/knaker-kortlek">
		<img src="playingcards.png">
		<img src="card back.png">
		<div class="card-name">Knåker Cards</div>
	</a>
	<p>
		This is a deck of cards that I and Samuel designed for my upcoming game Knåker Online, where you can play <a
			href="/knaker/">Knåker</a>, but online! The first picture is of a few different cards. The second picture is
		of the two current back designs. Decks of these cards will be purchaseable sometime in February, so look forward
		to that! </p>
</div>
<div class="card">
	<img src="/gallery/memes/bauhaus.png">
	<img src="temple.png">
	<div class="card-name">Attefall-temple</div>
	<p>
		A small temple I designed to fit into the limitations of a swedish "Attefallshus" that can be built without a
		building permit. Those limits were 25 square meters in area and 4 meters in height when this was designed, but
		the permitted area was recently increased to 30 square meters. It is an unbilt project, as it would cost
		approximately 104 million SEK for the materials alone.
	</p>
</div>
<div class="card">
	<img src="korp.jpg">
	<div class="card-name">Anarchy Raven</div>
	<p>
		A raven I made from steel-wire and papier-mâché.
	</p>
</div>
{{end}}