* {
    margin: 0
}

body {
    padding: 48px 12px;
    margin: auto;
    max-width: 675px;
    font-family: "Cabin", sans-serif;
    background: #36383a;
    color: #fbfcf3;
}

nav {
    z-index: 5;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 1em;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

a:not(.doc):not(.button):not(.option) {
    color: rgb(154, 160, 221);
}

.center-content {
    text-align: center;
}

.divider {
    height: 6px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
}

.icon-link {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 4px;
    cursor: pointer;
}

.icon-link path, .icon-link ellipse, .icon-link circle {
    transition: 200ms;
    stroke: #f1f1f1 !important;
}

.icon-link svg {
    border-radius: 4px;
}

.icon-link:hover svg {
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.1);
    box-shadow: 0 0 10px #fafafa80;
}

.icon-link:hover path, .icon-link:hover ellipse, .icon-link:hover circle {
    stroke: #fff !important;
    fill: #ffffff80 !important;
}

.icon-link:active {
    transform: scale(0.9);
}

.icon-link tooltip {
    position: absolute;
    width: fit-content;
    display: inline-block;
    top: 34px;
    left: -25px;
    right: -25px;
    margin: auto;
    border-radius: 4px;
    padding: 2px 6px;
    text-decoration: none !important;
    background: #fafafa;
    color: #5a5a5a;
    opacity: 0;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0 5px 12px -3px rgba(0, 0, 0, .08), 0 8px 15px 1px rgba(0, 0, 0, .06), 0 3px 19px 2px rgba(0, 0, 0, .05);*/
    box-shadow: 0 0 7px #fafafa;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover tooltip {
    top: 40px;
    opacity: 1;
}

.icon-link:active tooltip {
    top: 34px;
    opacity: 0.5;
}

.small-icon {
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    padding: 0 6px;
    z-index: 8;
    transform: scale(1.1);
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search:hover {
    transform: scale(1.2);
}

.search:active {
    transform: scale(1);
}

.searchsvg path {
    transition: 200ms;
}

.small-icon:hover svg path, .small-icon:active svg path {
    stroke: #fff !important;
    fill: #ffffff30 !important;
}

h1 {
    font-size: 72px;
    margin-bottom: 20px;
    line-height: 72px;
    animation: 8s shine infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
    position: relative;
    top: 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    margin: 0 6px;
    line-height: 48px;
    color: #f5f5f5;
    font-weight: 500;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    /*top: -3px;
    border-bottom: 2px solid #fff;*/
    color: #fff;
    transform: scale(1.08);
    text-shadow: 0 1px 8px #ffffffaa;
}

.button:active {
    transform: scale(0.92);
    text-shadow: 0 1px 6px #ffffff30;
}

.button.expanding {
    transform: none !important;
}

.button .dropdown {
    position: absolute;
    top: 24px;
    left: -10px;
    display: block;
    width: 130px;
    text-align: left;
    line-height: 44px;
    background: #fafafa;
    color: #484848;
    padding: 8px 0;
    border-radius: 6px;
    opacity: 0;
    z-index: 24;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover .dropdown {
    top: 36px;
    opacity: 1;
}

.dropdown .option {
    display: block;
    padding: 0 12px;
    transition: 250ms;
}

.dropdown .option:hover {
    background: rgba(0, 0, 0, .16);
}

.dropdown .option:active {
    background: rgba(0, 0, 0, .28);
    color: #585858;
}

.long-white-space {
    height: 128px;
}

#project-showcase {
    margin-top: 64px;
    height: 150vh;
    padding-top: 120px;
}

h2, h3 {
    margin-top: 32px;
    text-align: center;
    line-height: 150%;
    font-size: 50px;
    font-weight: 700;
}

h2 {
    text-shadow: 0 0 10px #eeeeeec7;
}

h3 {
    font-size: 32px;
}

.card {
    margin: 24px 0;
    overflow: hidden;
    border-radius: 8px;
    background: #fafafa;
    color: #353535;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .12), 0 8px 10px 1px rgba(0, 0, 0, .10), 0 3px 14px 2px rgba(0, 0, 0, .08);
}

.card img {
    filter: grayscale(40%);
    width: calc(100% + 8px);
}

.card img:not(:first-of-type) {
    margin-top: -4px;
}

.card .card-name {
    text-decoration: none;
    color: inherit;
    padding: 8px 16px 0 16px;
    color: #121212;
    font-size: 50px;
    font-weight: 500;
    transition: 200ms;
}

.card a .card-name::after {
    content: "🡕";
    position: relative;
    left: -10px;
    opacity: 0;
    transform: rotate(45deg);
    transition: 200ms;
}

a:hover .card-name::after {
    opacity: 1;
    transform: rotate(0);
    left: 8px;
}

.card .card-name:hover {
    /* ワンツーワンツー　グルグルカクレボ */
    color: #121212;
}

.card p {
    margin: 0;
    padding: 16px;
}

#other-sites {
    position: absolute;
    top: -3px;
    left: 2px;
    width: 298px;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    background: #fafafa;
    border-radius: 4px;
    opacity: 0;
    /*box-shadow: 0 5px 12px -3px rgba(0, 0, 0, .08), 0 8px 15px 1px rgba(0, 0, 0, .06), 0 3px 19px 2px rgba(0, 0, 0, .05);*/
    box-shadow: 0 0 18px #fefefedd;
    transform: scale(0.9);
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.small-icon:hover #other-sites {
    transform: scale(1);
    top: 1px;
    left: 7px;
    opacity: 1;
    padding: 4px;
    max-height: 104px;
}

.other-site img {
    width: 48px;
    height: 48px;
}

.other-site:hover {
    transform: scale(1.1);
}

.other-site:active img {
    transform: scale(0.9);
}

#other-sites .other-site {
    margin: 8px;
    float: left;
    width: 80px;
    font-size: 18px;
    text-align: center;
    color: #444;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

#socialfall .divider {
    display: none;
}

.hamburger {
    margin: 9px;
    display: none;
    float: left;
}

.hamburger:hover+nav, nav:hover {
    opacity: 1;
}

@keyframes shine {
    0% {
        text-shadow: 0 0 0 #eee;
    }
    50% {
        text-shadow: 0 0 30px #eee;
    }
    100% {
        text-shadow: 0 0 0 #eee;
    }
}

@keyframes subtle-shine {
    0% {
        text-shadow: 0 0 0 #eee;
    }
    50% {
        text-shadow: 0 0 10px #eee;
    }
    100% {
        text-shadow: 0 0 0 #eee;
    }
}

@media screen and (max-width: 500px) {
    body {
        padding: 48px 16px;
    }
    nav {
        position: relative;
    }
    .small-icon {
        position: absolute;
        left: 0;
        bottom: -53px;
    }
    .search {
        right: 0;
        left: unset;
    }
    .button {
        font-size: 18px;
    }
    body {
        padding: 24px 8px;
    }
    .button .dropdown {
        left: unset;
        right: 0;
    }
}