* {
    margin: 0
}

body {
    font-family: "Nimbus Roman", serif;
    color: #080808;
    background: #f5f5f5;
    font-size: 18px;
}

main {
    max-width: 675px;
    margin: 0 auto 32px auto;
    padding: 0 24px;
}

nav {
    text-align: center;
    background: #f5f5f5;
    position: sticky;
    padding-top: 16px;
    top: -88px;
    left: 0;
    right: 0;
    z-index: 3;
}

nav .nav-content {
    max-width: 680px;
    padding: 0 24px;
    margin: auto;
}

.divider, .small-divider {
    width: 100%;
    border-bottom: 1px solid #2d2d2d;
    margin-bottom: 3px;
}

.small-divider {
    width: 64px;
    border-bottom: 2px solid #707070;
    margin: 12px auto 8px auto;
}

img {
    max-width: 100%;
}

p, article {
    font-family: serif;
    margin-bottom: 16px;
    text-align: justify;
}

article {
    font-family: serif;
    margin: 0 20px 16px 20px;
    font-size: 18px;
    color: #3d3d3d;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
}

a:not(.doc):not(.button):not(.option) {
    color: #791818;
}

.center-content {
    text-align: center;
}

.icon-link {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 4px;
    cursor: pointer;
}

.icon-link path, .icon-link ellipse, .icon-link circle {
    transition: 200ms;
    stroke: #000 !important;
}

.icon-link svg {
    border-radius: 4px;
}

.icon-link:hover svg {
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.1);
}

.icon-link:hover path, .icon-link:hover ellipse, .icon-link:hover circle {
    stroke: #202020 !important;
    fill: #00000080 !important;
}

.icon-link:active {
    transform: scale(0.9);
}

.icon-link tooltip {
    position: absolute;
    width: fit-content;
    display: inline-block;
    top: 34px;
    left: -25px;
    right: -25px;
    margin: auto;
    border-radius: 4px;
    padding: 2px 6px;
    text-decoration: none !important;
    background: #101010;
    color: #fafafa;
    opacity: 0;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover tooltip {
    top: 40px;
    opacity: 1;
}

.icon-link:active tooltip {
    top: 34px;
    opacity: 0.5;
}

.nav-icon-buttons {
    position: sticky;
    z-index: 4;
    box-sizing: border-box;
    top: 140px;
    max-width: 680px;
    width: calc(100% - 32px);
    left: 16px;
    right: 16px;
    margin: 0 auto;
    transform: translateY(-124px);
}

.small-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1.1);
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon-buttons>.small-icon:first-child {
    z-index: 2;
    left: 0;
    right: unset;
}

.small-icon svg path {
    stroke: #101010 !important;
    fill: #00000000 !important;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.small-icon:hover svg path, .small-icon:active svg path {
    fill: #00000030 !important;
}

.search {
    cursor: pointer;
}

h1 {
    font-size: 72px;
    font-variant: small-caps;
    line-height: 72px;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
    position: relative;
    top: 0;
    font-variant: small-caps;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    margin: 0 6px;
    line-height: 56px;
    font-weight: 700;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button::after {
    content: "";
    width: 0%;
    display: inline-block;
    height: 2px;
    background: #8b1414;
    position: absolute;
    left: 0;
    bottom: 12px;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover::after {
    width: 100%;
}

.button:active {
    transform: scale(0.92);
}

.button.expanding {
    transform: none !important;
}

.button .dropdown {
    position: absolute;
    top: 36px;
    left: -10px;
    display: block;
    width: 130px;
    text-align: left;
    line-height: 44px;
    background: #f5f5f5;
    color: #101010;
    border: 2px solid #101010;
    padding: 8px 0;
    opacity: 0;
    max-height: 0;
    transform: scale(0.95);
    overflow-y: hidden;
    z-index: 2;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover .dropdown {
    transform: scale(1);
    opacity: 1;
    max-height: 224px;
}

.dropdown .option {
    display: block;
    padding: 0 12px;
    transition: 250ms;
}

.dropdown .option:hover {
    background: #101010;
    color: #f5f5f5;
}

.dropdown .option:active {
    background: rgba(0, 0, 0, .28);
    color: #585858;
}

.long-white-space {
    height: 128px;
}

#project-showcase {
    margin-top: 64px;
    height: 150vh;
    padding-top: 120px;
}

h2, h3 {
    margin-top: 32px;
    text-align: center;
    line-height: 120%;
    margin-bottom: 16px;
    font-size: 50px;
    font-weight: 500;
}

h3 {
    font-size: 32px;
}

.card {
    margin: 24px 0;
    border-radius: 4px;
    overflow: hidden;
    background: #fafafa;
    font-size: 18px;
    color: #353535;
    border: 2px solid #353535;
}

.card img {
    filter: grayscale(40%);
    width: calc(100% + 8px);
}

.card img:not(:first-of-type) {
    margin-top: -4px;
}

.card .card-name {
    text-decoration: none;
    color: inherit;
    padding: 16px 24px 0 24px;
    line-height: 110%;
    color: #121212;
    font-size: 50px;
    font-weight: 700;
    transition: 200ms;
}

.card .card-name::after {
    content: "🡕";
    position: relative;
    top: 16px;
    display: inline-block;
    margin-left: -36px;
    overflow: hidden;
    opacity: 0;
    transition: margin-left 200ms cubic-bezier(0.6, 0.1, 0.5, 0.9), opacity 200ms cubic-bezier(0.1, 0.7, 0.2, 1.1);
}

a:hover .card-name::after {
    transition: margin-left 200ms cubic-bezier(0, 0.5, 0.2, 1), opacity 200ms cubic-bezier(0.86, 0.01, 0.6, 1.05);
    margin-left: 0px;
    opacity: 1;
}

.card .card-name:hover {
    /* ワンツーワンツー　グルグルカクレボ */
    color: #121212;
}

.card p {
    margin: 0;
    padding: 16px 24px 24px 24px;
}

#other-sites {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 298px;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    background: #f5f5f5;
    border: 0 solid #2b2b2b;
    padding: 0;
    opacity: 0;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.small-icon:hover #other-sites {
    border-width: 1px;
    opacity: 1;
    padding: 16px 8px 0 8px;
    max-height: 224px;
}

.other-site img {
    width: 48px;
    height: 48px;
}

.other-site:hover {
    transform: scale(1.1);
}

.other-site:active img {
    transform: scale(0.9);
}

#other-sites .other-site {
    padding: 8px 8px 24px 8px;
    display: inline-block;
    width: 80px;
    font-size: 18px;
    font-variant: small-caps;
    text-align: center;
    color: #101010;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

#socialfall {
    margin-top: 16px;
}

.tags {
    margin-bottom: 8px;
}

.tags a {
    color: #1122ff;
    font-size: 24px;
    font-weight: 700;
}

.added, .removed {
    line-height: 120%;
    margin: 4px 0;
    color: #ffffff;
    margin: 4px -20px;
    padding: 4px 20px 4px 36px;
    position: relative;
}

.added {
    background: #bbaa63;
}

.removed {
    background: #b05858;
}

.added::before, .removed::before {
    content: "+";
    position: absolute;
    left: 16px;
    top: 2px;
    font-size: 24px;
}

.removed:before {
    content: "-";
}

@media screen and (max-width: 500px) {
    .search {
        right: 16px;
        left: unset;
    }
    .button {
        line-height: 48px;
        font-size: 18px;
    }
    main {
        padding: 0 16px;
    }
    body {
        font-size: 16px;
    }
    nav {
        top: -58px;
    }
    h1 {
        font-size: 48px;
        line-height: 42px;
    }
    nav .nav-content {
        padding: 0;
    }
    .nav-icon-buttons {
        margin: -56px 0 80px 16px;
        position: static;
        transform: translate(0);
    }
    #other-sites {
        width: 198px;
    }
}