{{define "title"}}
About me
{{end}}

{{define "body"}}
<p>
	I'm a web developer. I've been making websites on and off since 2017. I
	usually use a lot of JavaScript but I chose to make this website
	completely without it. You can find the source for this website on
	<a href="https://github.com/ebinbellini/ebinbellini">GitHub</a>.
	The font used is IM FELL English. The Fell Types are digitally
	reproduced by <a href="https://iginomarini.com">Igino Marini</a>.
</p>
<p>
	Other than web development, I make all kinds of designs. You can find
	some of them on the <a href="/works/design/">Design</a> page. My other
	hobbies include photography, programming, Linux, biking, judo,
	languages, and piano. I put my photographs on the
	<a href="/works/gallery/">Gallery</a> page, but the other hobbies
	haven't quite made it onto this site yet. Maybe someday I'll write more
	about some of those here.
</p>
{{end}}