{{define "title"}}
About
{{end}}

{{define "body"}}
<p>
	I am a web developer and have been since 2017. Other than web development, I
	make all kinds of designs. You can find some of them on the <a
		href="/works/design/">Design</a> page. My other hobbies include
	photography, programming, Linux, biking, judo, languages, and piano. I put
	my photographs on the <a href="/works/gallery/">Gallery</a> page, but the
	other hobbies haven't quite made it onto this site yet. Maybe I'll write
	more about some of those here, some day in the future.
</p>

<h3>This site</h3>
<p>
	I usually use extensive ammounts of JavaScript but I chose to make this
	website completely without it. You can find the source on
	<a href="https://github.com/ebinbellini/ebinbellini">GitHub</a>.
	The fonts used are
	<a href="https://www.1001fonts.com/im-fell-english-font.html">IM FELL
		English</a>, which was digitally reproduced by
	<a href="https://iginomarini.com">Igino Marini</a>, and
	<a href="https://www.1001fonts.com/typographerwoodcutinitialsone-font.html">
		Typographer Woodcut Initials One</a>, which was made by
	<a href="http://www.steffmann.de">Dieter Steffmann</a>.
</p>

<h3>My story</h3>
<p>
	My first non-trivial project was a game I made on a learn to code-site. It
	features the &ldquo;dat boi&rdquo; meme, which was popular back then. You
	can try playing it
	<a
		href="https://studio.code.org/projects/applab/yeMNhWwynFfRpX9NT9W6LdS9B6d-UOdSycQ1mvqvAiU">here</a>.
	I had so much fun making this project that I
	decided to learn more about JS, HTML, and CSS so that I could go on to
	developing bigger and better things.
</p>
<p>
	While struggling with learning web design, I discovered
	<a href="https://material.io/archive/guidelines/">Material Design</a>, which
	I, at the time, thought was brilliant. I was able to make UIs without having
	to spend my creativity on designing components. It also taught me a lot
	about design in general and still influences how I think about it today.
	However, I have since moved on to using more expressive and creative
	approaches, as you can tell from this site you're viewing. This site is
	inspired by one of my (many) favorite things, which is old books.
</p>
<p>
	I then experimented a bit with making games again, first in Unreal Engine,
	which didn't really like, because frankly, it was hard to learn. After a
	while, I started using Godot instead, and found it very easy, and most
	importantly, fun to use. I have one project I'm making in Godot that I am
	releasing soon. It's called Knåker Online, and when it's out, it will be
	available at
	<a href="https://games.ebinbellini.com">Ebin Bellini Games</a>.
</p>
{{end}}