{{define "title"}}Hire me{{end}}

{{define "body"}}
<p>
	If you want to hire me to design and/or build a website, I would be glad to hear from you via
	<a href="mailto:ebinbellini@airmail.cc">email</a>. I mostly work alone so making a website could take a little time,
	especially if I am also tasked with making the design, typewriting, icons, etc. However, my low price and high
	quality results make up for that.
</p>
<h3>Pricing</h3>
<p>
	I work for 100 SEK/hour but I may be able give a fixed rate when given the project specifications.
</p>
<h3>Hosting</h3>
<p>
	Depending on the size and usage volume of your page, I may be able to host your site on my server for about 20-100
	SEK/month. Otherwise, I can help you set up the site on a hosting provider of your choice.
</p>
{{end}}