{{define "title"}}Works{{end}}

{{define "body"}}
<style>
    .works-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 16px;
    }

    .works-cards .card {
        float: left;
        color: #101010 !important;
        padding: 16px 24px;
        margin: 0 0;
        box-sizing: border-box;
        text-align: center;
        font-weight: 400;
        border-radius: 4px;
        background: #fafafa;
        border: 2px solid #353535;
    }

    .works-cards .card::after {
        display: none;
    }

    .works-cards .card .card-name::after {
        content: "";
        background: url(/Icons/arrow-big.png);
        height: 40px;
        width: 41px;
        position: relative;
        top: 4px;
        transform: rotate(45deg);
        display: inline-block;
        margin-left: -36px;
        overflow: hidden;
        opacity: 0;
        transition: margin-left 200ms cubic-bezier(0.6, 0.1, 0.5, 0.9), opacity 200ms cubic-bezier(0.1, 0.7, 0.2, 1.1);
    }

    .works-cards a:hover .card-name::after {
        transition: margin-left 200ms cubic-bezier(0, 0.5, 0.2, 1), opacity 200ms cubic-bezier(0.86, 0.01, 0.6, 1.05);
        margin-left: 12px;
        opacity: 1;
    }

    .card-icon {
        margin: auto;
        width: 72px;
        height: 72px;
    }

    .card .card-name {
        padding: 0;
        margin-top: 0;
    }

    @media screen and (max-width: 500px) {
        .works-cards {
            grid-template-columns: 1fr;
        }
    }
</style>

<div class="works-cards">
    <a class="card" href="projects/">
        <img class="card-icon" src="/Icons/works/projects.svg"/>
        <h2 class="card-name">Projects</h2>
        Websites and programs
    </a>
    <a class="card" href="design/">
        <img class="card-icon" src="/Icons/works/design.svg"/>
        <h2 class="card-name">Designs</h2>
        Color and shape
    </a>
    <a class="card" href="gallery/">
        <img class="card-icon" src="/Icons/works/gallery.svg"/>
        <h2 class="card-name">Gallery</h2>
        Collections of pictures
    </a>
    <a class="card" href="knaker/">
        <img class="card-icon" src="/Icons/works/knaker.svg"/>
        <h2 class="card-name">Knåker</h2>
        A fast-paced card game
    </a>
</div>
{{end}}