{{define "title"}}Works{{end}}

{{define "body"}}
<style>
    .works-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 16px;
    }

    .card {
        float: left;
        color: #101010 !important;
        padding: 16px 24px;
        margin: 0 0;
        box-sizing: border-box;
        text-align: center;
        font-weight: 400;
    }

    .card-icon {
        margin: auto;
        width: 72px;
        height: 72px;
    }

    .card .card-name {
        padding: 0;
        margin-top: 0;
    }

    @media screen and (max-width: 500px) {
        .works-cards {
            grid-template-columns: 1fr;
        }
    }
</style>

<div class="works-cards">
    <a class="card" href="projects/">
        <img class="card-icon" src="/Icons/works/projects.svg"></img>
        <h2 class="card-name">Projects</h2>
        Websites and programs
    </a>
    <a class="card" href="design/">
        <img class="card-icon" src="/Icons/works/design.svg"></img>
        <h2 class="card-name">Designs</h2>
        Color and shape
    </a>
    <a class="card" href="gallery/">
        <img class="card-icon" src="/Icons/works/gallery.svg"></img>
        <h2 class="card-name">Gallery</h2>
        Collections of pictures
    </a>
    <a class="card" href="knaker/">
        <img class="card-icon" src="/Icons/works/knaker.svg"></img>
        <h2 class="card-name">Knåker</h2>
        A fast-paced card game
    </a>
</div>
{{end}}